.button {
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background: var(--accent-color);
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    min-width: 36px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}
